.modal__container {
	margin: 0 auto;
	padding-top: 5rem;
	top: 0;
	left: 0;
	position: fixed;
	z-index: 999 !important;
	height: 100%;
	width: 100%;
	background-color: rgba(0,0,0,1);
	background-color: rgba(0,0,0, 0.6);
	animation: open__modal 0.2s;
	animation-timing-function: ease-in-out;
}
.content__container, .modal {
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.content {
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4);
	width: 40vw;
	height: 60vh;
	padding: 5%;
	background-color: white;
}
.close__btn {
	position: absolute;
	right: 15%;
	top: 4%;
	color: white;
	font-size: 1.4rem;
	background-color: red;
	width: 25px;
	height: 25px;
	cursor: pointer;
	padding: 1px;
	border-radius: 50%;
}

@keyframes open__modal {
	from {
		transform: scale(0);
	}
	to {
		transform: scale(1);
	}
}

@-webkit-keyframes open__modal {
	from {
		-webkit-transform: scale(0);
	}
	to {
		-webkit-transform: scale(1);
	}
}